:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  --header-bg-color: rgb(255, 203, 181);
  --card-bg-color: rgb(151, 171, 194, 0.2);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 1fr 4fr 2rem;
  gap: 1rem;
}

.header {
  font-size: 5rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: var(--header-bg-color);
}

.footer {
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem 1rem;
  gap: 1rem;
}

.add-button {
  width: 20rem;
  height: 4rem;
  border-radius: 4rem;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
}

.add-button:hover {
  background-color: rgb(242, 133, 137, 0.7);
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

div[class^="card-"] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 22vw;
  border: solid;
  background-color: var(--card-bg-color);
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 20rem;
  box-shadow: 5px 5px 5px 5px rgb(118, 127, 166, 0.5);
}

div[class^="card-"] > button {
  font-size: 2rem;
  width: 100%;
  border-radius: 3rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1rem;
  background-color: rgb(151, 171, 194);
  height: 27rem;
}

fieldset > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

fieldset > input {
  border-radius: 1rem;
  font-size: 2rem;
}

fieldset > button {
  border-radius: 1rem;
  font-size: 2rem;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  font-size: 2rem;
  background-color: rgb(151, 171, 194);
  padding: 2rem;
  height: 30rem;
  width: 40rem;
  max-width: 60%;
  border-radius: 10px;
}

.form-container.active {
  transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

button[class^="buttonIsRead-"] {
  background-color: rgb(255, 107, 94);
}
button[class^="buttonIsRead-"].read {
  background-color: rgb(200, 255, 179);
}

.header img {
  width: 12rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
